<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start"><ion-back-button defaultHref="tabs/imagenes"></ion-back-button></ion-buttons>
    
    <ion-buttons slot="end" *ngIf="(idUsuario === imagen?.usuario_id && isAdmin !== 1) || isAdmin === 1">
      <ion-button *ngIf="imagen && (isAdmin !== 1 || idUsuario === imagen?.usuario_id)" [routerLink]="['/tabs/imagenes/editar-imagen', imagen.id]">
        <mat-icon>edit</mat-icon>
      </ion-button>
    
      <ion-button *ngIf="(isAdmin !== 1 || idUsuario === imagen?.usuario_id)" (click)="deleteImagen()">
        <mat-icon>delete</mat-icon>
      </ion-button>
    
      <ion-button *ngIf="isAdmin === 1" (click)="opcionesAdmin()"> 
        
        <mat-icon>build</mat-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button>
        <mat-icon (click)="mostrarDescripcion()">info</mat-icon>
      </ion-button>
    </ion-buttons>
    

    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="separador">
    <mat-card>
      <img mat-card-image [src]="imagen?.imagen" alt="">
      <mat-card-header style="padding-left: 6px;">
        <mat-card-title>{{imagen?.titulo}}</mat-card-title>
        <mat-card-subtitle>Creada por <a [routerLink]="['/perfil/', imagen?.usuario_id]" style="color: black; text-decoration: none;">{{imagen?.nombre_usuario}}</a></mat-card-subtitle>
        <mat-card-subtitle>{{imagen?.fecha_publicacion | date:'MMM d, y'}}</mat-card-subtitle>
        <mat-card-subtitle>Categoría: {{imagen?.nombre_categoria}}</mat-card-subtitle>
      </mat-card-header>
    
      <mat-card-actions>
        <button mat-icon-button matTooltip="Warn" color="warn" (click)="toggleLike()">
          <mat-icon>favorite</mat-icon>
        </button>
        {{likes}}
        
        <button mat-icon-button color="black" (click)="toggleGuardado()">
          <mat-icon>bookmark</mat-icon>
        </button>
        {{guardados}}

      </mat-card-actions>
    
      <mat-card-content *ngIf="imagen?.disponible === 0" style="color: red;">
        Imagen deshabilitada
      </mat-card-content>
    </mat-card> 
  </div>

  <ion-item>
    <ion-input placeholder="Añadir comentario" [(ngModel)]="texto" name="texto"></ion-input>
    <ion-button [disabled]="!texto || texto.trim() === ''" (click)="agregarComentario()">Comentar</ion-button>
  </ion-item>
  

  <ion-list *ngIf="comentarios && comentarios.length > 0; else noComentariosTemplate">
    <ion-item *ngFor="let comentario of comentarios">
      <ion-avatar *ngIf="comentario.foto_usuario === null; else fotoPerfilTemplate" class="custom-avatar">
        <img src="https://i.pinimg.com/564x/c7/ac/68/c7ac68c45a1927de8f4bcdbf5517b583.jpg">
      </ion-avatar>
      <ng-template #fotoPerfilTemplate>
        <ion-avatar slot="start">
          <img [src]="comentario.foto_usuario">
        </ion-avatar>
      </ng-template>
      <ion-label>
        <h2>{{comentario.nombre_usuario }}</h2>
        <p>{{ comentario.texto }}</p>
        <p class="tiempo-comentario">{{comentario.fecha_creacion | date:"MMM d, y"}}</p>
      </ion-label>

      <ion-buttons slot="end" *ngIf="comentario.usuario_id === idUsuario" style="position: absolute; top: 0; right: 0;" >
        <ion-button color="warning" (click)="editarComentario(comentario)"><mat-icon>edit</mat-icon></ion-button>

        <ion-button color="danger" (click)="eliminarComentario(comentario)"><mat-icon>delete</mat-icon></ion-button>
      </ion-buttons>

    </ion-item>
  </ion-list>
  
  <ng-template #noComentariosTemplate>
    <div class="ion-text-center" style="padding-top: 10px;">
      <p>Aún no hay comentarios.</p>
    </div>
  </ng-template>
  
  
  

</ion-content>
