<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <div class="welcome-container">
    <ion-img src="assets/ICONO/F8F0E5.png" class="logo"></ion-img>
    <h1 class="welcome-heading">¡Bienvenido a Panda Shot!</h1>
    <p class="welcome-text">Explora imágenes asombrosas capturadas por la comunidad, o comparte tus propias creaciones con el mundo.</p>
    <ion-button expand="block" shape="round" class="custom-button" [routerLink]="['/register']">
      Continuar
      <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
    </ion-button>
  </div>
</ion-content>
