<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-item *ngFor="let notificacion of notificaciones">

      <ion-avatar slot="start">
        <img [src]="notificacion.foto_perfil_interactuante" />
      </ion-avatar>
      
      <ion-label>
        <p>{{ notificacion.contenido }}</p>
        <ion-text class="ion-text-end">
          <a [routerLink]="['/tabs/imagenes', notificacion.imagen_id]">
          <ion-img [src]="notificacion.imagen_imagen" class="imagen-tamano"></ion-img>
          </a>
          <p>{{ notificacion.fecha_creacion | date:'M/d/yy' }}</p>
        </ion-text>
      </ion-label>

    </ion-item>
  </ion-list>

</ion-content>
