<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/imagenes"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de {{usuario?.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="profile-card" style="background-color: white;">
    <div class="profile-picture-container">
      <ion-img class="circular-image" src="https://i.pinimg.com/564x/c7/ac/68/c7ac68c45a1927de8f4bcdbf5517b583.jpg" alt="Foto de perfil"></ion-img>
    </div>

    <mat-card-content class="profile-details">
      <p>{{usuario?.biografia}}</p>

      <p>Se unió el {{usuario?.fecha_unio | date:'M/d/yy'}}</p>
      </mat-card-content>

    <mat-card-content class="profile-details" *ngIf="usuarioIdPerfil === (idUsuario | number)">
      <ion-button color="primary">Modificar Foto</ion-button>
      <ion-button color="primary" [routerLink]="['editar-perfil', idUsuario]">Modificar Perfil</ion-button>
    </mat-card-content>

  </ion-card>


  <ion-grid class="custom-grid">
    <ion-row>

      <ion-col size="6" *ngIf="imagenes?.length > 0; else noImagenes">
        <ng-container *ngFor="let imagen of imagenes">
          <mat-card>
            <a [routerLink]="['/tabs/imagenes', imagen.id]">
              <img mat-card-image alt="" [src]="imagen.imagen">
            </a>
            <mat-card-header class="custom-card-header">
              <mat-card-title>{{ imagen.titulo }}</mat-card-title>
              <mat-card-subtitle>{{ imagen.fecha_publicacion | date:'M/d/yy' }}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </ng-container>
      </ion-col>
      
      <ng-template #noImagenes>
        <ion-col size="12" class="no-imagenes">
          <p class="mensaje">Cuando compartas fotos, aparecerán en tu perfil.</p>
        </ion-col>
      </ng-template>
      
      

    </ion-row>
  </ion-grid>


</ion-content>