<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/opciones"></ion-back-button>
    </ion-buttons>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cuenta</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <ion-item>
      <ion-label>Vinculación con Redes Sociales</ion-label>
      <ion-button slot="end" fill="clear">Vincular</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Cierre de Sesión</ion-label>
      <ion-button slot="end" fill="clear">Cerrar Sesión</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Eliminar Cuenta</ion-label>
      <ion-button slot="end" fill="clear" color="danger">Eliminar Cuenta</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
