.centered-tabs .tab-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .custom-badge {
    font-size: 12px;
    
  }