<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <mat-icon>menu</mat-icon>
    </ion-fab-button>
    <ion-fab-list side="top">

      <ion-fab-button [routerLink]="['/login']" *ngIf="usuarioLogueado;">
        <mat-icon>exit_to_app</mat-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink]="['/opciones']">
        <mat-icon>settings</mat-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="usuarioLogueado;">
        <mat-icon [routerLink]="['/tabs/imagenes/agregar-imagen']">add_circle</mat-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink]="['/perfil']" *ngIf="usuarioLogueado;">
        <mat-icon>person</mat-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let imagen of imagenes">

        <mat-card class="example-card">
          <a [routerLink]="['/tabs/imagenes', imagen.id]">
            <img mat-card-image [src]="imagen.imagenURL" alt="">
          </a>
          <mat-card-header class="custom-card-header">
            <mat-card-title>{{imagen.titulo}}</mat-card-title>
            <mat-card-subtitle>Por {{imagen.autor}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions class="custom-card-actions">
            <button mat-icon-button matTooltip="Warn" color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button color="black" aria-label="Example icon button with a bookmark icon">
              <mat-icon>bookmark</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
