<ion-tabs class="centered-tabs">

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="imagenes">
      <mat-icon>home</mat-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buscar">
      <mat-icon>search</mat-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="anadir-imagen">
      <mat-icon >add_circle</mat-icon>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <mat-icon>chat_bubble</mat-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notificaciones">
      <mat-icon>notifications</mat-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>