<ion-tabs >

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="imagenes">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buscar">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="anadir-imagen">
      <ion-icon aria-hidden="true" name="add-circle" style="font-size: 100px;"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon aria-hidden="true" name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notificaciones">
      <ion-icon aria-hidden="true" name="notifications"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>