<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/tabs/imagenes"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="deleteImagen()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <mat-card class="example-card">

    <img mat-card-image [src]="imagen?.imagenURL" alt="">
    <mat-card-header style="padding-left: 6px;">
      <mat-card-title>{{imagen?.titulo}}</mat-card-title>
      <mat-card-subtitle>Por {{imagen?.autor}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>

      <button mat-icon-button matTooltip="Warn" color="warn">
        <mat-icon>favorite</mat-icon>
      </button>

      <button mat-icon-button color="black">
        <mat-icon>bookmark</mat-icon>
      </button>

      <button mat-icon-button color="black">
        <mat-icon>share</mat-icon>
      </button>

      <button mat-icon-button color="black">
        <mat-icon>save_alt</mat-icon>
      </button>

    </mat-card-actions>

  </mat-card>

</ion-content>