<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recuperacion</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item class="ion-margin">
    <ion-label position="floating">Correo electrónico</ion-label>
    <ion-input placeholder="Ingresa tu correo electrónico"></ion-input>
  </ion-item>

  <ion-item class="ion-margin">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" placeholder="Ingresa tu contraseña"></ion-input>
  </ion-item>

  <ion-item class="ion-margin">
    <ion-label position="floating">Repetir Contraseña</ion-label>
    <ion-input type="password" placeholder="Ingresa tu contraseña nuevamente"></ion-input>
  </ion-item>