<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar imagen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form (ngSubmit)="subirImagen()" #formulario="ngForm">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input [(ngModel)]="titulo" name="titulo" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input [(ngModel)]="descripcion" name="descripcion"></ion-input>
    </ion-item>
    
    
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select [(ngModel)]="idCategoria" interface="popover" name="idCategoria" required>
        <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{ categoria.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button type="button" expand="full" (click)="tomarFoto()">Tomar Foto</ion-button>
  
    <img *ngIf="imagen" [src]="imagen" alt="Imagen">
    
    <ion-button type="submit" expand="full" [disabled]="!imagen" >Subir Imagen</ion-button>
    <ion-toast [isOpen]="toastImagen" message="Imagen subida exitosamente" [duration]="5000"></ion-toast>
  </form>

</ion-content>
