<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Error</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Error</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="error-container">
    <ion-icon name="alert-circle-outline" class="error-icon"></ion-icon>
    <h1 class="error-heading">404 - Página no encontrada</h1>
    <p class="error-message">Lo sentimos, la página que estás buscando no existe.</p>
    <ion-button expand="block" routerLink="/">Volver a la página principal</ion-button>
  </div>
</ion-content>
