<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/imagenes"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <ion-item>
      <ion-label>Versión de la Aplicación</ion-label>
      <ion-text>1.0.0</ion-text>
    </ion-item>
    <!-- Agrega más información acerca de la aplicación aquí -->
  </ion-list>
</ion-content>