<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="perfil/usuario.id"></ion-back-button>
    </ion-buttons>

    <ion-title>Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="editarUsuario()">

    <ion-item class="ion-margin">
      <ion-label position="floating">Nuevo nombre</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.nombre" name="usuario.nombre"></ion-input>
    </ion-item>

    <ion-item class="ion-margin">
      <ion-label position="floating">Nueva biografía</ion-label>
      <ion-textarea [(ngModel)]="usuario.biografia" name="usuario.biografia"></ion-textarea>
    </ion-item>

    <div class="button-container">
      <ion-button expand="full" color="primary" type="submit">Guardar Cambios</ion-button>
      <ion-button expand="full" color="danger" [routerLink]="['/perfil', usuario.id]">Cancelar</ion-button>
    </div>
    
  </form>
  

</ion-content>

